 .u-section-1 {
  background-image: none;
  min-height: 1096px;
}

.u-section-1 .u-image-1 {
  height: 647px;
  margin-top: -13px;
  margin-bottom: 0;
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
}

.u-section-1 .u-list-1 {
  width: 1140px;
  margin: -175px auto 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 15px));
  min-height: 351px;
  grid-gap: 20px;
}

.u-section-1 .u-list-item-1 {
  background-image: linear-gradient(to bottom, rgba(228, 213, 172, 1), rgba(228, 213, 172, 1));
  box-shadow: 5px 5px 22px 3px rgba(0,0,0,0.45);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-icon-1 {
  background-image: none;
  height: 70px;
  width: 70px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
  padding: 14px;
}

.u-section-1 .u-text-1 {
  font-size: 1rem;
  font-style: italic;
  width: 206px;
  margin: 16px auto 0;
}

.u-section-1 .u-list-item-2 {
  background-image: linear-gradient(to bottom, rgba(228, 213, 172, 1), rgba(228, 213, 172, 1));
  box-shadow: 5px 5px 22px 3px rgba(0,0,0,0.45);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-1 .u-icon-2 {
  background-image: none;
  height: 70px;
  width: 70px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
  padding: 14px;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  font-style: italic;
  width: 206px;
  margin: 16px auto 0;
}

.u-section-1 .u-list-item-3 {
  background-image: linear-gradient(to bottom, rgba(228, 213, 172, 1), rgba(228, 213, 172, 1));
  box-shadow: 5px 5px 22px 3px rgba(0,0,0,0.45);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-1 .u-icon-3 {
  background-image: none;
  height: 70px;
  width: 70px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
  padding: 14px;
}

.u-section-1 .u-text-3 {
  font-size: 1rem;
  font-style: italic;
  width: 206px;
  margin: 16px auto 0;
}

.u-section-1 .u-list-item-4 {
  background-image: linear-gradient(to bottom, rgba(228, 213, 172, 1), rgba(228, 213, 172, 1));
  box-shadow: 5px 5px 22px 3px rgba(0,0,0,0.45);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 0;
}

.u-section-1 .u-icon-4 {
  background-image: none;
  height: 70px;
  width: 70px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
  padding: 14px;
}

.u-section-1 .u-text-4 {
  font-size: 1rem;
  font-style: italic;
  width: 206px;
  margin: 16px auto 0;
}

.u-section-1 .u-text-5 {
  font-size: 1rem;
  font-style: italic;
  width: 835px;
  margin: 72px auto 36px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-list-1 {
    width: 940px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 286px;
  }

  .u-section-1 .u-text-5 {
    margin-left: calc(((100% - 940px) / 2));
    margin-right: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    height: 674px;
    margin-top: -40px;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 10px));
    min-height: 614px;
  }

  .u-section-1 .u-text-5 {
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-5 {
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    margin-top: -16px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
    margin-top: -200px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-text-5 {
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
    width: 340px;
  }
}

.u-section-1 .u-list-item-4,
.u-section-1 .u-list-item-4:before,
.u-section-1 .u-list-item-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-list-item-4.u-list-item-4.u-list-item-4:hover {
  transform: translateX(0px) translateY(-5px) !important;
  border-color: #172d83 !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
}

.u-section-1 .u-list-item-4 {
  border-color: transparent !important;
  border-style: solid !important;
  border-width: 2px !important;
}

.u-section-1 .u-list-item-4.u-list-item-4.u-list-item-4.hover {
  transform: translateX(0px) translateY(-5px) !important;
  border-color: #172d83 !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
}

.u-section-1 .u-list-item-4 {
  border-color: transparent !important;
  border-style: solid !important;
  border-width: 2px !important;
}

.u-section-1 .u-list-item-1,
.u-section-1 .u-list-item-1:before,
.u-section-1 .u-list-item-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-list-item-1.u-list-item-1.u-list-item-1:hover {
  transform: translateX(0px) translateY(-5px) !important;
  border-color: #172d83 !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
}

.u-section-1 .u-list-item-1 {
  border-color: transparent !important;
  border-style: solid !important;
  border-width: 2px !important;
}

.u-section-1 .u-list-item-1.u-list-item-1.u-list-item-1.hover {
  transform: translateX(0px) translateY(-5px) !important;
  border-color: #172d83 !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
}

.u-section-1 .u-list-item-1 {
  border-color: transparent !important;
  border-style: solid !important;
  border-width: 2px !important;
}

.u-section-1 .u-list-item-2,
.u-section-1 .u-list-item-2:before,
.u-section-1 .u-list-item-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-list-item-2.u-list-item-2.u-list-item-2:hover {
  transform: translateX(0px) translateY(-5px) !important;
  border-color: #172d83 !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
}

.u-section-1 .u-list-item-2 {
  border-color: transparent !important;
  border-style: solid !important;
  border-width: 2px !important;
}

.u-section-1 .u-list-item-2.u-list-item-2.u-list-item-2.hover {
  transform: translateX(0px) translateY(-5px) !important;
  border-color: #172d83 !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
}

.u-section-1 .u-list-item-2 {
  border-color: transparent !important;
  border-style: solid !important;
  border-width: 2px !important;
}

.u-section-1 .u-list-item-3,
.u-section-1 .u-list-item-3:before,
.u-section-1 .u-list-item-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-list-item-3.u-list-item-3.u-list-item-3:hover {
  transform: translateX(0px) translateY(-5px) !important;
  border-color: #172d83 !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
}

.u-section-1 .u-list-item-3 {
  border-color: transparent !important;
  border-style: solid !important;
  border-width: 2px !important;
}

.u-section-1 .u-list-item-3.u-list-item-3.u-list-item-3.hover {
  transform: translateX(0px) translateY(-5px) !important;
  border-color: #172d83 !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
}

.u-section-1 .u-list-item-3 {
  border-color: transparent !important;
  border-style: solid !important;
  border-width: 2px !important;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 887px;
}

.u-section-2 .u-image-1 {
  width: 841px;
  min-height: 345px;
  background-image: url("images/001_150.png");
  background-position: 50% 50%;
  margin: 473px 0 0 auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-shape-1 {
  width: 432px;
  height: 451px;
  background-image: none;
  margin: -697px auto 0 0;
}

.u-section-2 .u-shape-2 {
  width: 613px;
  height: 628px;
  background-image: none;
  margin: -451px 107px 0 auto;
}

.u-section-2 .u-image-2 {
  width: 559px;
  height: 482px;
  object-position: 38.87% 0%;
  box-shadow: 0 0 25px 0 rgba(0,0,0,0.3);
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: -667px auto 0 0;
}

.u-section-2 .u-group-2 {
  width: 526px;
  min-height: 728px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  margin: -408px 55px 4px auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 40px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  line-height: 1.8;
  margin: 29px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  margin: 37px auto 0 0;
  padding: 10px 43px 10px 41px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 852px;
  }

  .u-section-2 .u-image-1 {
    width: 791px;
    min-height: 297px;
    margin-top: 486px;
  }

  .u-section-2 .u-shape-1 {
    height: 343px;
    margin-top: -620px;
  }

  .u-section-2 .u-shape-2 {
    height: 445px;
    margin-top: -235px;
  }

  .u-section-2 .u-image-2 {
    width: 472px;
    height: 527px;
    margin-top: -645px;
  }

  .u-section-2 .u-group-2 {
    width: 453px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-2 .u-text-2 {
    --animation-custom_in-translate_x: 50px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 180deg;
    --animation-custom_in-scale: 0.3;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1161px;
  }

  .u-section-2 .u-image-1 {
    width: 417px;
    min-height: 733px;
    margin-top: 564px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: -975px;
  }

  .u-section-2 .u-shape-2 {
    width: 448px;
    height: 589px;
    margin-top: -24px;
    margin-right: 127px;
  }

  .u-section-2 .u-image-2 {
    height: 489px;
    margin-top: -954px;
  }

  .u-section-2 .u-group-2 {
    min-height: 488px;
    margin-top: -73px;
    margin-right: 62px;
    margin-bottom: -19px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1147px;
  }

  .u-section-2 .u-image-1 {
    width: 337px;
    min-height: 745px;
    margin-top: 538px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-shape-1 {
    height: 306px;
    margin-top: -962px;
  }

  .u-section-2 .u-shape-2 {
    width: 320px;
    height: 574px;
    margin-top: 47px;
    margin-right: auto;
  }

  .u-section-2 .u-image-2 {
    width: 404px;
    height: 444px;
    margin-top: -971px;
    margin-left: 62px;
  }

  .u-section-2 .u-group-2 {
    width: 367px;
    min-height: 530px;
    margin-top: -46px;
    margin-right: 25px;
    margin-bottom: -58px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 919px;
  }

  .u-section-2 .u-image-1 {
    width: 264px;
    min-height: 634px;
    margin-top: 473px;
  }

  .u-section-2 .u-shape-1 {
    height: 170px;
    width: 286px;
    margin-top: -745px;
  }

  .u-section-2 .u-shape-2 {
    width: 227px;
    height: 387px;
    margin-top: 147px;
    margin-left: 0;
  }

  .u-section-2 .u-image-2 {
    width: 282px;
    height: 258px;
    margin-top: -748px;
    margin-right: 20px;
    margin-left: auto;
  }

  .u-section-2 .u-group-2 {
    width: 280px;
    min-height: 496px;
    margin-top: -44px;
    margin-right: auto;
    margin-bottom: -16px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2rem;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
  }
}

.u-section-2 .u-image-2,
.u-section-2 .u-image-2:before,
.u-section-2 .u-image-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-image-2.u-image-2.u-image-2:hover {
  transform: translateX(0px) translateY(-5px) !important;
}

.u-section-2 .u-image-2.u-image-2.u-image-2.hover {
  transform: translateX(0px) translateY(-5px) !important;
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 925px;
}

.u-section-3 .u-image-1 {
  width: 841px;
  min-height: 345px;
  background-image: url("images/001_150.png");
  background-position: 50% 50%;
  height: auto;
  margin: 473px 0 0 auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-3 .u-shape-1 {
  width: 432px;
  height: 451px;
  background-image: none;
  margin: -697px auto 0 0;
}

.u-section-3 .u-shape-2 {
  width: 613px;
  height: 628px;
  background-image: none;
  margin: -451px 107px 0 auto;
}

.u-section-3 .u-image-2 {
  width: 559px;
  height: 482px;
  object-position: 38.87% 0%;
  box-shadow: 0 0 25px 0 rgba(0,0,0,0.3);
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: -667px auto 0 0;
}

.u-section-3 .u-group-2 {
  width: 526px;
  min-height: 728px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  height: auto;
  margin: -386px 55px 20px auto;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 40px;
}

.u-section-3 .u-text-1 {
  font-size: 1.875rem;
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  line-height: 1.8;
  margin: 28px 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  margin: 38px auto 0 0;
  padding: 10px 43px 10px 41px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 852px;
  }

  .u-section-3 .u-image-1 {
    height: auto;
  }

  .u-section-3 .u-group-2 {
    width: 453px;
    height: auto;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1161px;
  }

  .u-section-3 .u-image-1 {
    width: 720px;
  }

  .u-section-3 .u-group-2 {
    min-height: 488px;
    margin-top: -73px;
    margin-right: 62px;
    margin-bottom: -19px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1147px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-shape-2 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-3 .u-image-2 {
    width: 540px;
    height: 465px;
  }

  .u-section-3 .u-group-2 {
    width: 367px;
    min-height: 530px;
    margin-top: -46px;
    margin-right: 25px;
    margin-bottom: -58px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 919px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
  }

  .u-section-3 .u-shape-1 {
    width: 340px;
  }

  .u-section-3 .u-shape-2 {
    width: 340px;
  }

  .u-section-3 .u-image-2 {
    width: 340px;
    height: 293px;
  }

  .u-section-3 .u-group-2 {
    width: 280px;
    min-height: 496px;
    margin-top: -44px;
    margin-right: auto;
    margin-bottom: -16px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2rem;
  }

  .u-section-3 .u-text-2 {
    font-size: 1rem;
  }
}

.u-section-3 .u-image-2,
.u-section-3 .u-image-2:before,
.u-section-3 .u-image-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-image-2.u-image-2.u-image-2:hover {
  transform: translateX(0px) translateY(-5px) !important;
}

.u-section-3 .u-image-2.u-image-2.u-image-2.hover {
  transform: translateX(0px) translateY(-5px) !important;
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 838px;
}

.u-section-4 .u-image-1 {
  width: 841px;
  min-height: 345px;
  background-image: url("images/001_150.png");
  background-position: 50% 50%;
  margin: 473px 0 0 auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-shape-1 {
  width: 432px;
  height: 451px;
  background-image: none;
  margin: -697px auto 0 0;
}

.u-section-4 .u-shape-2 {
  width: 613px;
  height: 628px;
  background-image: none;
  margin: -451px 107px 0 auto;
}

.u-section-4 .u-image-2 {
  width: 559px;
  height: 482px;
  object-position: 38.87% 0%;
  box-shadow: 0 0 25px 0 rgba(0,0,0,0.3);
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: -667px auto 0 0;
}

.u-section-4 .u-group-2 {
  width: 526px;
  min-height: 527px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  margin: -408px 55px 42px auto;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 40px;
}

.u-section-4 .u-text-1 {
  font-size: 3.75rem;
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.125rem;
  line-height: 1.8;
  margin: 28px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 852px;
  }

  .u-section-4 .u-image-1 {
    width: 791px;
    min-height: 297px;
    margin-top: 486px;
  }

  .u-section-4 .u-shape-1 {
    height: 343px;
    margin-top: -620px;
  }

  .u-section-4 .u-shape-2 {
    height: 445px;
    margin-top: -235px;
  }

  .u-section-4 .u-image-2 {
    width: 472px;
    height: 527px;
    margin-top: -645px;
  }

  .u-section-4 .u-group-2 {
    width: 453px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-4 .u-text-2 {
    --animation-custom_in-translate_x: 50px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 180deg;
    --animation-custom_in-scale: 0.3;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1161px;
  }

  .u-section-4 .u-image-1 {
    width: 417px;
    min-height: 733px;
    margin-top: 564px;
  }

  .u-section-4 .u-shape-1 {
    margin-top: -975px;
  }

  .u-section-4 .u-shape-2 {
    width: 448px;
    height: 589px;
    margin-top: -24px;
    margin-right: 127px;
  }

  .u-section-4 .u-image-2 {
    height: 489px;
    margin-top: -954px;
  }

  .u-section-4 .u-group-2 {
    min-height: 488px;
    margin-top: -73px;
    margin-right: 62px;
    margin-bottom: -19px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1147px;
  }

  .u-section-4 .u-image-1 {
    width: 337px;
    min-height: 745px;
    margin-top: 538px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-shape-1 {
    height: 306px;
    margin-top: -962px;
  }

  .u-section-4 .u-shape-2 {
    width: 320px;
    height: 574px;
    margin-top: 47px;
    margin-right: auto;
  }

  .u-section-4 .u-image-2 {
    width: 404px;
    height: 444px;
    margin-top: -971px;
    margin-left: 62px;
  }

  .u-section-4 .u-group-2 {
    width: 367px;
    min-height: 530px;
    margin-top: -46px;
    margin-right: 25px;
    margin-bottom: -58px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 919px;
  }

  .u-section-4 .u-image-1 {
    width: 264px;
    min-height: 634px;
    margin-top: 473px;
  }

  .u-section-4 .u-shape-1 {
    height: 170px;
    width: 286px;
    margin-top: -745px;
  }

  .u-section-4 .u-shape-2 {
    width: 227px;
    height: 387px;
    margin-top: 147px;
    margin-left: 0;
  }

  .u-section-4 .u-image-2 {
    width: 282px;
    height: 258px;
    margin-top: -748px;
    margin-right: 20px;
    margin-left: auto;
  }

  .u-section-4 .u-group-2 {
    width: 280px;
    min-height: 496px;
    margin-top: -44px;
    margin-right: auto;
    margin-bottom: -16px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2rem;
  }

  .u-section-4 .u-text-2 {
    font-size: 1rem;
  }
}

.u-section-4 .u-image-2,
.u-section-4 .u-image-2:before,
.u-section-4 .u-image-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-image-2.u-image-2.u-image-2:hover {
  transform: translateX(0px) translateY(-5px) !important;
}

.u-section-4 .u-image-2.u-image-2.u-image-2.hover {
  transform: translateX(0px) translateY(-5px) !important;
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 778px;
}

.u-section-5 .u-shape-1 {
  width: 1028px;
  height: 513px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 140px auto 0;
}

.u-section-5 .u-layout-wrap-1 {
  width: 852px;
  margin: -583px auto 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 658px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  margin: 64px auto 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.5rem;
  margin: 41px 0 0;
}

.u-section-5 .u-image-1 {
  background-image: url("images/WhiteModernTravelPosterKopyas21.59x27.94cm23.jpg");
  background-position: 50% 50%;
  min-height: 658px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-shape-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 718px;
  }

  .u-section-5 .u-shape-1 {
    height: 472px;
    margin-top: 128px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 650px;
    margin-top: -530px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 174px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1rem;
    margin-top: 26px;
  }

  .u-section-5 .u-image-1 {
    min-height: 608px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 923px;
  }

  .u-section-5 .u-shape-1 {
    height: 603px;
    margin-top: 160px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 428px;
    margin-top: -693px;
    margin-bottom: -37px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 64px;
  }

  .u-section-5 .u-image-1 {
    min-height: 462px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 920px;
  }

  .u-section-5 .u-shape-1 {
    height: 629px;
    margin-top: 145px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 259px;
    margin-top: -714px;
    margin-bottom: 60px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.4000000000000004rem;
  }

  .u-section-5 .u-image-1 {
    min-height: 367px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 778px;
}

.u-section-6 .u-shape-1 {
  width: 1028px;
  height: 513px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 140px auto 0;
}

.u-section-6 .u-layout-wrap-1 {
  width: 852px;
  margin: -583px auto 60px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 658px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 29px;
}

.u-section-6 .u-text-1 {
  font-size: 3rem;
  margin: 64px auto 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.5rem;
  margin: 41px 1px 0;
}

.u-section-6 .u-image-1 {
  background-image: url("images/WhiteModernTravelPosterKopyas21.59x27.94cm24.jpg");
  background-position: 50% 50%;
  min-height: 658px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-shape-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 718px;
  }

  .u-section-6 .u-shape-1 {
    height: 472px;
    margin-top: 128px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 650px;
    margin-top: -530px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 174px;
  }

  .u-section-6 .u-text-2 {
    font-size: 1rem;
    margin-top: 26px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-image-1 {
    min-height: 608px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 923px;
  }

  .u-section-6 .u-shape-1 {
    height: 603px;
    margin-top: 160px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 428px;
    margin-top: -693px;
    margin-bottom: -37px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 64px;
  }

  .u-section-6 .u-image-1 {
    min-height: 462px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 920px;
  }

  .u-section-6 .u-shape-1 {
    height: 629px;
    margin-top: 145px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 259px;
    margin-top: -714px;
    margin-bottom: 60px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.4000000000000004rem;
  }

  .u-section-6 .u-image-1 {
    min-height: 367px;
  }
} .u-section-7 {
  min-height: 609px;
}

.u-section-7 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2)  + 1140px);
  margin: 60px auto 0 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 577px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-7 .u-image-1 {
  height: 359px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 577px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-text-1 {
  margin: 21px auto 0 0;
}

.u-section-7 .u-text-2 {
  font-size: 1.25rem;
  margin: 30px 48px 0 0;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1rem;
  border-style: none;
  font-weight: 700;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.27;
  margin: 21px auto 0 0;
  padding: 14px 52px 16px 51px;
}

@media (max-width: 1199px) {
   .u-section-7 {
    min-height: 508px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 538px;
  }

  .u-section-7 .u-image-1 {
    height: 296px;
    margin-top: 71px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 476px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-right: 0;
  }

  .u-section-7 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-7 {
    min-height: 397px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 512px;
  }

  .u-section-7 .u-image-1 {
    height: 680px;
    margin-top: 0;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
   .u-section-7 {
    min-height: 953px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 325px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-7 .u-image-1 {
    height: 510px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 40px;
  }
}

@media (max-width: 575px) {
   .u-section-7 {
    min-height: 649px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 205px;
  }

  .u-section-7 .u-image-1 {
    height: 321px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 50px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 275px;
}

.u-section-8 .u-group-1 {
  min-height: 184px;
  margin-top: 46px;
  margin-bottom: 46px;
  height: auto;
}

.u-section-8 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-8 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 34px 474px 0 68px;
}

.u-section-8 .u-btn-1 {
  border-style: none;
  font-size: 1.875rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-image: none;
  font-weight: 700;
  margin: -94px 34px 0 auto;
  padding: 15px 86px 16px 85px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 389px;
  }

  .u-section-8 .u-group-1 {
    height: auto;
  }

  .u-section-8 .u-container-layout-1 {
    padding-top: 29px;
    padding-bottom: 29px;
  }

  .u-section-8 .u-text-1 {
    font-size: 2.5rem;
    width: auto;
    margin-top: 84px;
    margin-right: 296px;
    margin-left: 0;
  }

  .u-section-8 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-group-1 {
    min-height: 266px;
    margin-top: 62px;
    margin-bottom: 60px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 27px;
    margin-right: -12px;
    margin-left: 8px;
  }

  .u-section-8 .u-btn-1 {
    margin-top: 13px;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-text-1 {
    font-size: 2.25rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-btn-1 {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-group-1 {
    min-height: 246px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-8 .u-text-1 {
    font-size: 1.8rem;
    margin-top: 0;
    margin-left: 40px;
  }

  .u-section-8 .u-btn-1 {
    margin-top: 15px;
    padding-right: 11px;
    padding-left: 10px;
  }
}